@font-face {
  font-family: "mochaMattari";
  src: url("../fonts/mochaMattari.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/mochaMattari.eot?#iefix") format("embedded-opentype"), url("../fonts/mochaMattari.woff2") format("woff2"), url("../fonts/mochaMattari.woff") format("woff"), url("../fonts/mochaMattari.ttf") format("truetype"), url("../fonts/mochaMattari.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "mochaMattari";
}

a {
  text-decoration: none;
  color: floralwhite;
  letter-spacing: 0.09rem;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

@media all and (min-width: 715px) {
  .container {
    width: 80%;
    padding: 0;
  }
}
.portada {
  background-image: url("../images/portada.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}
.portada:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.portada header {
  padding-top: 3rem;
  position: relative;
  z-index: 2;
}
.portada .logo {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.portada .logo i {
  padding-right: 0.2rem;
  color: #ffdc00;
}
@media all and (min-width: 715px) {
  .portada .header-container {
    display: flex;
    justify-content: space-between;
  }
}
.portada #nav-principal ul {
  display: flex;
  justify-content: center;
}
.portada #nav-principal ul li {
  font-size: 1.3rem;
}
.portada #nav-principal ul li a:hover {
  color: #ffdc00;
}
.portada #nav-principal ul li:nth-child(2) {
  padding: 0 1rem;
}
.portada #nav-principal ul li:nth-child(3) a:hover {
  color: aqua;
}
.portada #texto-portada {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: floralwhite;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  z-index: 1;
}
.portada #texto-portada h1,
.portada #texto-portada h2 {
  letter-spacing: 0.2rem;
}
.portada #texto-portada h1 {
  font-size: 3rem;
}
.portada #texto-portada h2 {
  font-size: 4rem;
  margin-bottom: 3rem;
  color: #ffdc00;
}
.portada #texto-portada a {
  padding: 1rem 2rem;
  border: 3px solid floralwhite;
  font-size: 1.2rem;
  display: inline-block;
  transition: all 0.5s ease;
}
.portada #texto-portada a:hover {
  background: #000;
  border-color: #000;
}

.sobre-nosotros {
  background: #dfe6e9;
  padding: 5rem 0;
  text-align: center;
}
.sobre-nosotros .sobre-nosotros-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sobre-nosotros i {
  color: #ffdc00;
  font-size: 5rem;
  margin-bottom: 2rem;
}
.sobre-nosotros h2 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}
.sobre-nosotros h3 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: #ffdc00;
}
.sobre-nosotros p {
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  text-align: justify;
}
@media all and (min-width: 715px) {
  .sobre-nosotros p {
    text-align: center;
    font-size: 1.2rem;
  }
  .sobre-nosotros h2 {
    font-size: 3rem;
  }
  .sobre-nosotros h3 {
    font-size: 3.5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
